<h1><%= @article.title %></h1>
<p><%= @article.content %></p>

<%= link_to "back to article list", articles_path %>
<%= link_to "edit this article", edit_article_path(@article) %>
<%= link_to "delete this article", article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
